<div class="area-login-background d-none d-md-block"></div>

<div class="area-login">
    <form>
        <h1 class="titulo-login">CRUD USERS</h1>
        <h2 class="subtitulo-login">Mais eficiência no controle de usuários</h2>

            <input [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" type="text" class="input-login" placeholder="Digite seu nome">

        <button class="botao-primario w-100" (click)="login()">Acessar</button>
    </form>

    <p class="footer">© 2024 | Desenvolvido por Marcos Eduardo</p>
</div>