.card-info{
  background:  #fafafa;
  padding:14px 18px 0px 18px;
  border-radius: 6px;
  box-shadow: 0px 0px 3px 1px #0a0a0a20;
}

.titulo{
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0;
  margin: 0!important;
  color:  var(--primary-color);
  }

.subtitulo{
  font-size:1rem;
  font-weight: 300;
  margin: 0;
  padding:  26px 0px 14px 0px;
  color: var(--gray-color);
  span {color: var(--primary-color); font-weight: 500; } 
}

// card spinner

.texto-card{
  font-size: 1rem;
  font-weight: 500;
  color: #888;
  margin-bottom: 1rem; 
}

.numero-card{ 
  font-size: 1.6rem;
  font-weight: bold;
  color: #0a0a0a;
}

.destaque-card{ 
  font-size: 0.7 rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 0; 
}

.info-spinner{
  font-size: 0.9rem;
  font-weight: 500;
  color: #797979;
  text-align: center;
  position: relative;
  top:-62px;
  margin: 0 auto;
}


// LADO DIREITO

li{
  font-size: 0.9rem;
  font-weight: 500;
  color: #868686;
  padding: 14px 0;
  margin:0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  mat-icon { margin-right: 1rem; font-size: 1.5rem;}
}