<app-menu></app-menu>

<div class="container-fluid pt-3 ">
  <div class="row">
    <!-- -- left side -- -->
    <div class="col-12  col-lg-9">
     <div class="card-info">
       <div class="row">
          <div class="col-12 col-md-8">
          <h1 class="titulo"> Crud System</h1>
          <h3 class="subtitulo">Mais eficiência na gestão dos <span>usuários</span> e de seus benefícios.
           Chega de sistemas antigos e sem usabilidade, agora com o <span>Crud Users</span> seu trabalho fica
           até 3x mais rápido e simplificado. <br>
          Confira um resumo das informações em nosso <span>Dashboard</span> </h3>

          <app-button textButton="Iniciar" routerLink="/usuarios"></app-button>
           </div>
           <div class="col-12 col-md-4">
            <img src="../../../assets//dashboard.png" width="100%" alt="dashboard">
           </div>
        </div>
      </div>
     </div>
  </div>
</div>



