<app-menu></app-menu>
<div class="container-fluid pt-3">
    <div class="row">
        <!-- LADO ESQUERDO -->
        <div class="col-9">
            <div class="card-info">
                <div class="row">
                    <div class="col-8">
                        <h1 class="titulo">Crud Users Benefits</h1>
                        <h3 class="subtitulo">Mais eficiência na gestão dos <span>usuários</span> e de seus benefícios. 
                            Chega de sistemas antigos e sem usabilidade, agora com o <span>Crud Users</span> seu trabalho fica até 3x mais rápido e simplificado.
                        <br>Confira um resumo das informações em nosso <span>Dashboard</span></h3>

                        <button routerLink="/usuarios" class="botao-primario">Iniciar</button>
                    </div>
                    <div class="col-4">
                        <img src="../../../assets/dashboard.png" width="100%" alt="">
                    </div>
                </div>
            </div>

            <div class="row mt-4">

                <div class="col-6">
                    <div class="card-info">
                        <div class="row">
                            <div class="col-8">
                                <p class="texto-card">Total de usuários cadastrados no sistema</p>
                                <p class="numero-card">{{ totalUsers }}</p>
                                <p class="destaque-card">+ {{ usersAddedLastMonth }} adicionados no último mês</p>
                            </div>
                            <div class="col-4">
                                <mat-progress-spinner class="example-margin mx-auto color-spinner" mode="determinate" 
                                [value]="totalUsers"></mat-progress-spinner>
                                <p class="info-spinner">{{ totalUsers }}/150</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card-info">
                        <div class="row">
                            <div class="col-8">
                                <p class="texto-card">Total de benefícios cadastrados</p>
                                <p class="numero-card">{{ totalBenefits }}</p>
                                <p class="destaque-card">+ {{ benefitsAddedLastMonth }} adicionados no último mês</p>
                            </div>
                            <div class="col-4">
                                <mat-progress-spinner class="example-margin mx-auto color-spinner" mode="determinate" 
                                [value]="totalBenefits"></mat-progress-spinner>
                                <p class="info-spinner">{{ totalBenefits }}/5</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-4">
                    <div class="card-info">
                        <h3 class="titulo">Último usuário cadastrado</h3>
                
                        <hr class="hr">
                
                        <div class="row">
                            <div class="col-1"><mat-icon class="c-primary">account_circle</mat-icon></div>
                            <div class="col-1"><p class="texto-p">{{ lastUserId }}</p></div>
                            <div class="col"><p class="texto-p">{{ lastUserName }}</p></div>
                            <div class="col"><p class="texto-p">{{ lastUserOccupation }}</p></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
       
        
      <!-- LADO DIREITO -->
<div class="col-3">
    <div class="card-info">

        <div class="container-perfil">
            <input type="file" accept="image/*" (change)="handleImageUpload($event)" style="display: none;" id="fileInput">
            <label for="fileInput" class="upload-button"></label>
            <div class="img-perfil" (click)="openFileInput()">
                <img *ngIf="userProfileImageUrl" [src]="userProfileImageUrl" alt="Profile Image">
                <mat-icon *ngIf="!userProfileImageUrl" class="profile-icon">account_circle</mat-icon>
                <h5  class="texto-upload mb-2" *ngIf="!userProfileImageUrl">Upload</h5>  
           </div>
            <h4 class="mt-1">Seja bem vindo</h4>
            <h5>{{ userNameStorage }}</h5>
            <li><mat-icon>location_on</mat-icon>Florianópolis - Brasil</li>
        </div>
        

        <hr class="hr">
        <p class="texto-p">"A primeira regra de qualquer tecnologia utilizada nos negócios é que a automação aplicada a uma operação eficiente aumentará a eficiência. A segunda é que a automação aplicada a uma operação ineficiente aumentará a ineficiência."</p>
        <hr class="hr">

        <li><mat-icon>person</mat-icon>Gerencie usuários</li>
        <li><mat-icon>loyalty</mat-icon>Adicione benefícios</li>
        <li><mat-icon>format_list_bulleted</mat-icon>Consulte cadastros</li>
        <li><mat-icon>delete</mat-icon>Exclua funcionários</li>
    </div>
</div>

