<nav class="sidemenu">
    <ul>
        <li>
            <img src="../../../assets/logo-3.png" width="40px">
            <span class="logo">Crud System</span>
        </li>
        <li routerLink="/home"><mat-icon>home</mat-icon>Home</li>
        <li routerLink="/usuarios"><mat-icon>person_add</mat-icon>Cadastrar usuários</li>
        <a href="https://firebase.google.com/?hl=pt" target="_blank"><li><mat-icon>local_fire_department</mat-icon>Firebase</li></a>
        <a href="https://angular.dev/" target="_blank"><li><mat-icon>description</mat-icon>Documentação</li> </a>
        <li routerLink="/login" class="logout"><mat-icon>logout</mat-icon>Sair</li>
    </ul>
</nav>